.button, input[type="button"], input[type="submit"] {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent;
  padding: 10px 20px !important;
  min-height: 45px !important;
  text-align: center !important;
  font-family: $display;
  font-size: 17px !important;
  text-transform: uppercase;
  background-color: $accent !important;
  border: 1px solid transparent !important;
  color: $white !important;
  border-radius: 0 !important;

  @include hover {
    background-color: transparent !important;
    border-color: $accent !important;
    color: $accent !important;
    opacity: 1 !important;
  }

  @include media($max: $breakpoint-medium) {
    font-size: 15px !important;
  }

  .content + & {
    margin-top: 20px;
  }
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 calc(#{$gutter-half} * -1) calc(#{$gutter} * -1);

  .button, input[type="button"], input[type="submit"], .link {
    margin: 0 $gutter-half $gutter;
  }
}
