.card {
  position: relative;
  background-color: $white;
  padding: calc(#{$gutter} + 20px);
  height: 100%;
  width: 100%;
  margin: 0 auto;

  @include media($max: $breakpoint-medium) {
    padding: calc(#{$gutter-half} + 20px);
  }

  &:before, &:after {
    content: '';
    position: absolute;
    border: 1px solid $accent;
    pointer-events: none;
  }

  &:before {
    display: none;
  }

  &:after {
    top: 10px;
    left: 10px;
		right: 10px;
		bottom: 10px;
  }

  &--outlined {
    padding: $gutter;
    border: $gutter-double solid $accent;

    @include media($max: $breakpoint-xlarge) {
      border-width: calc(#{$gutter} + #{$gutter-half});
    }

    @include media($max: $breakpoint-medium) {
      padding: $gutter-half;
      border-width: $gutter;
    }

    &:before, &:after {
      border-color: $white;
    }

    &:before {
      display: block;
      top: -22px;
      left: -11px;
  		right: -11px;
  		bottom: -22px;
    }

    &:after {
      top: -11px;
      left: -22px;
  		right: -22px;
  		bottom: -11px;
    }
  }

  .title {
    text-align: center;

    &:after {
  		left: 50%;
      transform: translateX(-50%);
  	}
  }
}
