.home {
  section {
    padding-top: $gutter-double;
    padding-bottom: $gutter-double;

    @include media($max: $breakpoint-xlarge) {
      padding-top: calc(#{$gutter} + #{$gutter-half});
      padding-bottom: calc(#{$gutter} + #{$gutter-half});
    }

    @include media($max: $breakpoint-medium) {
      padding-top: $gutter;
      padding-bottom: $gutter;
    }

    > .row > .column:not(:last-of-type) {
      @include media($max: $breakpoint-medium) {
        margin-bottom: $gutter-half;
      }
    }
  }

  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    height: 100vh;
    min-height: 480px;

    h1, .h1, h2, .h2 {
      color: $white;
    }

    &__slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &__track {
        &, div  {
          height: 100%;
        }

        .slick-slide {
          &[aria-hidden="true"] .image-wrapper {
            visibility: hidden;
          }

          &.slick-active {
            .zoom-up-left {
              animation: zoomUpLeft 10s ease-in-out;
            }

            .zoom-up-right {
              animation: zoomUpRight 10s ease-in-out;
            }

            .zoom-down-left {
              animation: zoomDownLeft 10s ease-in-out;
            }

            .zoom-down-right {
              animation: zoomDownRight 10s ease-in-out;
            }
          }
        }
      }

      &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        opacity: 0.5;

        @include hover {
          opacity: 1;
        }

        @include media($max: $breakpoint-medium) {
          display: none !important;
        }

        &--left {
          left: calc(#{$gutter-half} + #{$gutter-quarter});
        }

        &--right {
          right: calc(#{$gutter-half} + #{$gutter-quarter});
        }

        svg {
          width: 20px;
          height: 40px;
        }
      }
    }

    &__content {
      position: relative;
      text-align: center;
      max-width: $breakpoint-xlarge;
      margin: 50px auto 0;
      z-index: 10;

      @include media($min: $breakpoint-medium + 1px) {
        width: calc(100% - #{$gutter} - #{$gutter-half});
      }

      h1 {
        margin-bottom: 10px;

        span {
          display: inline-block;
        }

        .ampersand {
          margin: 0 15px;
          font-size: 50%;

          @include media($max: $breakpoint-medium) {
            display: block;
            margin: 0;
          }
        }
      }
    }
  }

  .venue {
    padding: 0;

    .row {
      padding: 0;
    }

    &__image {
      padding: 0;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding: $gutter;

      @include media($max: $breakpoint-medium) {
        padding: $gutter $gutter-half;
        margin-bottom: 0 !important;
      }
    }
  }

  .program {
    .row + .row {
      align-items: flex-start;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% + 50px + #{$gutter-half});
        width: 1px;
        height: 100%;
        border-left: 1px dashed rgba($dark-grey, 0.25);

        @include media($min: $breakpoint-medium + 1px, $max: $breakpoint-large) {
          display: none;
        }

        @include media($max: $breakpoint-medium) {
          left: calc(50px + #{$gutter-half});
        }

        @include media($max: $breakpoint-small) {
          display: none;
        }
      }
    }

    &__image, &__items {
      position: sticky;
      top: 65px;
      z-index: 10;

      @include media($max: $breakpoint-medium) {
        top: 55px;
      }
    }

    &__image {
      @include media($min: $breakpoint-medium + 1px) {
        padding-right: 0;
      }

      @include media($max: $breakpoint-medium) {
        display: none;
      }
    }

    &__items {
      padding-top: $gutter-half;
      padding-bottom: $gutter-half;

      @include media($max: $breakpoint-large) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__item {
      position: relative;
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }

      &__left {
        width: 100px;
        margin-right: $gutter-half;

        @include media($max: $breakpoint-small) {
          width: 85px;
          margin-right: $gutter-quarter;
        }

        span {
          display: inline-block;
          background-color: $accent;
          color: $white;
          text-align: center;
          border-radius: 9999px;
          padding: 5px 10px;
          width: 100%;
        }
      }

      &__right {
        width: calc(100% - 100px - #{$gutter-half});
        padding-top: 4px;

        @include media($max: $breakpoint-small) {
          width: calc(100% - 85px - #{$gutter-quarter});
        }

        .content {
          margin-top: 10px;

          @include media($min: $breakpoint-medium, $max: $breakpoint-large) {
            margin-left: calc(-100px - #{$gutter-half});
          }

          @include media($max: $breakpoint-small) {
            margin-left: calc(-85px - #{$gutter-quarter});
          }
        }
      }
    }
  }

  .faqs {
    &__items {
      margin-top: -18px;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: flex-start;
      border-bottom: 3.5px dotted $accent;
      position: relative;
      width: 100%;
      text-align: left;

      @include media($max: $breakpoint-large) {
        position: relative;
        display: block;

        &:before, &:after {
          content: '';
          position: absolute;
          background-color: $grey;
        }

        &:before {
          top: 20px;
          right: 5px;
          width: 1px;
          height: 11px;
          transition: opacity 300ms;
        }

        &:after {
          top: 25px;
          right: 0;
          width: 11px;
          height: 1px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &.is-open {
        &:before {
          opacity: 0;
        }

        .content {
          display: block;
        }
      }

      .question {
        text-align: left;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      div.question {
        display: flex;
        width: 40%;
        margin-right: $gutter-half;

        @include media($max: $breakpoint-large) {
          display: none;
        }
      }

      button.question {
        width: 100%;
        padding-right: calc(#{$gutter-half} + 11px);

        @include media($min: $breakpoint-large + 1px) {
          display: none !important;
        }
      }

      .content {
        width: 60%;
        margin-top: 15px;
        margin-bottom: 15px;

        @include media($min: $breakpoint-large + 1px) {
          display: block !important;
        }

        @include media($max: $breakpoint-large) {
          width: 100%;
          display: none;
          margin-top: -5px;
          transition: opacity 300ms;
        }
      }
    }
  }

  .registry {
    a {
      display: block;
      overflow: hidden;
    }

    .image-wrapper {
      position: relative;
      height: 0;
      padding-bottom: 50px;
      max-width: 250px;
      margin: auto;

      .image-placeholder {
        position: static;

        img {
          position: absolute !important;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }

  .form {
    .card {
      max-width: 600px;
    }
  }
}
