// Fade In Animation
[data-animation="fade-in"] {
  transition: 1250ms opacity;
  opacity: 0 !important;

  &.is-visible {
    opacity: 1 !important;
  }
}

// Fade In (Large) Animation
[data-animation="fade-in-large"] {
  transition: 2500ms opacity;
  opacity: 0 !important;

  &.is-visible {
    opacity: 1 !important;
  }
}

// Fade In Up Animation
[data-animation="fade-in-up"] {
  opacity: 0 !important;
  transition: 1250ms opacity, 1000ms transform;
  transform: translateY(30px);

  @include media($max: $breakpoint-medium) {
    transform: translateY(15px);
  }

  &.is-visible {
    opacity: 1 !important;
    transform: translateY(0);
  }
}

// Fade In Up (Large) Animation
[data-animation="fade-in-up-large"] {
  opacity: 0 !important;
  transition: 2500ms opacity, 2000ms transform;
  transform: translateY(60px);

  @include media($max: $breakpoint-medium) {
    transform: translateY(30px);
  }

  &.is-visible {
    opacity: 1 !important;
    transform: translateY(0);
  }
}

// Animation Delay
[data-animation-delay="0"] {
  transition-delay: 0ms !important;
}

[data-animation-delay="100"] {
  transition-delay: 100ms !important;
}

[data-animation-delay="200"] {
  transition-delay: 200ms !important;
}

[data-animation-delay="300"] {
  transition-delay: 300ms !important;
}

[data-animation-delay="400"] {
  transition-delay: 400ms !important;
}

[data-animation-delay="500"] {
  transition-delay: 500ms !important;
}

[data-animation-delay="600"] {
  transition-delay: 600ms !important;
}

[data-animation-delay="700"] {
  transition-delay: 700ms !important;
}

[data-animation-delay="800"] {
  transition-delay: 800ms !important;
}

[data-animation-delay="900"] {
  transition-delay: 900ms !important;
}

[data-animation-delay="1000"] {
  transition-delay: 1000ms !important;
}

[data-animation-delay="1100"] {
  transition-delay: 1100ms !important;
}

[data-animation-delay="1200"] {
  transition-delay: 1200ms !important;
}

[data-animation-delay="1300"] {
  transition-delay: 1300ms !important;
}

[data-animation-delay="1400"] {
  transition-delay: 1400ms !important;
}

[data-animation-delay="1500"] {
  transition-delay: 1500ms !important;
}

[data-animation-delay="1600"] {
  transition-delay: 1600ms !important;
}

[data-animation-delay="1700"] {
  transition-delay: 1700ms !important;
}

[data-animation-delay="1800"] {
  transition-delay: 1800ms !important;
}

[data-animation-delay="1900"] {
  transition-delay: 1900ms !important;
}

[data-animation-delay="2000"] {
  transition-delay: 2000ms !important;
}

[data-animation-delay="2100"] {
  transition-delay: 2100ms !important;
}

[data-animation-delay="2200"] {
  transition-delay: 2200ms !important;
}

[data-animation-delay="2300"] {
  transition-delay: 2300ms !important;
}

[data-animation-delay="2400"] {
  transition-delay: 2400ms !important;
}

[data-animation-delay="2500"] {
  transition-delay: 2500ms !important;
}

[data-animation-delay="2600"] {
  transition-delay: 2600ms !important;
}

[data-animation-delay="2700"] {
  transition-delay: 2700ms !important;
}

[data-animation-delay="2800"] {
  transition-delay: 2800ms !important;
}

[data-animation-delay="2900"] {
  transition-delay: 2900ms !important;
}

[data-animation-delay="3000"] {
  transition-delay: 3000ms !important;
}

@include media($max: $breakpoint-medium) {
  [data-animation-delay] {
    transition-delay: 0ms !important;
  }
}


@keyframes zoomUpLeft {
  from { transform: scale(1.0, 1.0); transform-origin: 50% 50%; }
  to { transform: scale(1.15, 1.15); transform-origin: 0% 0%; }
}

@keyframes zoomUpRight {
  from { transform: scale(1.0, 1.0); transform-origin: 50% 50%; }
  to { transform: scale(1.15, 1.15); transform-origin: 100% 0%; }
}

@keyframes zoomDownLeft {
  from { transform: scale(1.0, 1.0); transform-origin: 0% 100%; }
  to { transform: scale(1.15, 1.15); transform-origin: 50% 50%; }
}

@keyframes zoomDownRight {
  from { transform: scale(1.0, 1.0); transform-origin: 100% 100%; }
  to { transform: scale(1.15, 1.15); transform-origin: 50% 50%; }
}
