@keyframes zoomUpLeft {
  from { transform: scale(1.0, 1.0); transform-origin: 50% 50%; }
  to { transform: scale(1.15, 1.15); transform-origin: 0% 0%; }
}

@keyframes zoomUpRight {
  from { transform: scale(1.0, 1.0); transform-origin: 50% 50%; }
  to { transform: scale(1.15, 1.15); transform-origin: 100% 0%; }
}

@keyframes zoomDownLeft {
  from { transform: scale(1.0, 1.0); transform-origin: 0% 100%; }
  to { transform: scale(1.15, 1.15); transform-origin: 50% 50%; }
}

@keyframes zoomDownRight {
  from { transform: scale(1.0, 1.0); transform-origin: 100% 100%; }
  to { transform: scale(1.15, 1.15); transform-origin: 50% 50%; }
}
