@font-face {
	font-family: 'Belista';
  src: url('../assets/fonts/Belista/Belista.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Great Vibes';
  src: url('../assets/fonts/GreatVibes/GreatVibes-Regular.eot');
  src: url('../assets/fonts/GreatVibes/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/GreatVibes/GreatVibes-Regular.woff2') format('woff2'),
       url('../assets/fonts/GreatVibes/GreatVibes-Regular.woff') format('woff'),
       url('../assets/fonts/GreatVibes/GreatVibes-Regular.ttf') format('truetype'),
       url('../assets/fonts/GreatVibes/GreatVibes-Regular.svg#greatvibesregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel/Cinzel-Regular.eot');
  src: url('../assets/fonts/Cinzel/Cinzel-Regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Cinzel/Cinzel-Regular.woff2') format('woff2'),
       url('../assets/fonts/Cinzel/Cinzel-Regular.woff') format('woff'),
       url('../assets/fonts/Cinzel/Cinzel-Regular.ttf') format('truetype'),
       url('../assets/fonts/Cinzel/Cinzel-Regular.svg#cinzelregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel/Cinzel-Bold.eot');
  src: url('../assets/fonts/Cinzel/Cinzel-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Cinzel/Cinzel-Bold.woff2') format('woff2'),
       url('../assets/fonts/Cinzel/Cinzel-Bold.woff') format('woff'),
       url('../assets/fonts/Cinzel/Cinzel-Bold.ttf') format('truetype'),
       url('../assets/fonts/Cinzel/Cinzel-Bold.svg#cinzelbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans/OpenSans-Light.eot');
  src: url('../assets/fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
       url('../assets/fonts/OpenSans/OpenSans-Light.woff') format('woff'),
       url('../assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype'),
       url('../assets/fonts/OpenSans/OpenSans-Light.svg#opensanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.eot');
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
       url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
       url('../assets/fonts/OpenSans/OpenSans-Regular.svg#opensansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fashion';
  src: url('../assets/fonts/Fashion/Fashion.eot');
  src: url('../assets/fonts/Fashion/Fashion.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Fashion/Fashion.woff2') format('woff2'),
       url('../assets/fonts/Fashion/Fashion.woff') format('woff'),
       url('../assets/fonts/Fashion/Fashion.ttf') format('truetype'),
       url('../assets/fonts/Fashion/Fashion.svg#fashion-fontfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
