form {
  label {
    font-size: 16px !important;
    font-weight: 300 !important;

    @include media($max: $breakpoint-medium) {
      font-size: 14px !important;
    }
  }

  input:not([type="button"]), input:not([type="submit"]), select, textarea {
    background-color: transparent;
    font-size: 16px !important;
    font-weight: 300;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 10px 15px !important;
    height: auto !important;
    margin: 0;
    width: 100%;
    background-color: $off-white !important;
    border: 1px solid rgba($light-grey, 0.25) !important;
    border-radius: 0 !important;
    transition: border-color 300ms !important;

    @include media($max: $breakpoint-medium) {
      font-size: 14px !important;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px $white inset !important;
  }

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $light-grey;
  }

  input::-moz-placeholder { /* Firefox 19+ */
    color: $light-grey;
  }

  input:-ms-input-placeholder { /* IE 10+ */
    color: $light-grey;
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: $light-grey;
  }

  input::placeholder {
    color: $light-grey;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../assets/images/svg/select-down.svg') !important;
    background-position: right 15px center;
    background-size: 10px 7px;
    background-repeat: no-repeat;
    padding-right: 40px !important;
    cursor: pointer;
  }

  textarea {
    resize: none;
  }

  input[type="button"], input[type="submit"], button {
    @extend .button;
    transition: all 300ms !important;

    @include media($max: $breakpoint-medium) {
      width: 100%;
    }
  }
}

.fluentform {
  form {
    @include media($min: $breakpoint-medium + 1px) {
      margin: 0 $neg-gutter-quarter;
    }
  }

  .ff-el-group {
    margin-bottom: $gutter-half;

    &.ff_submit_btn_wrapper {
      margin-bottom: 0;
    }
  }

  .ff-t-cell {
    @include media($min: $breakpoint-medium + 1px) {
      padding: 0 $gutter-quarter !important;
    }
  }

  .ff-btn {
    @include media($min: $breakpoint-medium + 1px) {
      margin: 0 $gutter-quarter !important;
    }
  }

  .ff-name-address-wrapper {
    .ff-t-container:first-of-type {
      display: block;

      .ff-t-cell {
        display: block;
      }
    }
  }

  .ff-el-is-error .text-danger {
    font-size: 11px;
    margin-top: 3px;
  }

  .ff-el-input--label {
    @extend .accessible;
  }

  .ff-el-form-check {
    label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
        background-color: $off-white;
        border: 1px solid rgba($light-grey, 0.25);
      }

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        left: 3px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-image: url('../assets/images/svg/checkmark.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0;
        transition: 300ms opacity;
      }

      input[type="checkbox"], input[type="radio"] {
        @extend .accessible;
      }
    }

    &.ff_item_selected label:after {
      opacity: 1;
    }
  }

  .ff-message-success {
    padding: 5px 10px;
    margin-top: $gutter-half;
    border: 1px solid $accent;
    box-shadow: none;
  }

  .ff_submit_btn_wrapper {
    margin-top: $gutter-quarter;

    @include media($max: $breakpoint-medium) {
      margin-top: calc(#{$gutter-half} + #{$gutter-quarter});
    }

    button {
      margin: 0 auto;
    }
  }
}
