.image-wrapper {
  display: block;
  width: 100%;
  opacity: 0;
  transition: 1000ms opacity;

  &.is-loaded {
    opacity: 1;
  }

  &.cover {
    height: 100%;
    
    .image-placeholder {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  img {
    margin: auto;
  }

  .image-placeholder {
    font-size: 0;
    transition: none;
    position: relative;

    img {
      display: block;
      position: absolute;
      width: 100%;
    }
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
