* {
  box-sizing: border-box;
}

:root {
  --width: 0;
}

::selection {
  background: $accent;
}

body {
  font-family: $base;
  color: $light-grey;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  opacity: 0;
  transition: 1500ms opacity;

  &.ready {
    opacity: 1;
  }
}

main {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}

.skipnav {
	&:focus, &:active {
		position: absolute !important;
		top: 5px !important;
		left: 42% !important;
		width: 16%;
		background-color: $black;
		padding: 10px;
		color: $white;
		z-index: 9999;
		text-align: center;
		clip: inherit;
		overflow: hidden;
		border: 0 none !important;
		width: auto !important;
		height: auto !important;
		margin: inherit;
	}
}
