h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: $display;
	font-weight: normal;
	text-transform: uppercase;
	line-height: normal;
	color: $grey;
	margin: 0;
}

h1, .h1 {
	font-family: $cursive;
	font-size: 125px;
	text-transform: none;
	line-height: normal;
	text-align: center;

	@include media($max: $breakpoint-xlarge) {
		font-size: 100px;
	}

	@include media($max: $breakpoint-medium) {
		font-size: 75px;
	}
}

h2, .h2 {
	font-size: 22px;

	@include media($max: $breakpoint-medium) {
	  font-size: 20px;
	}
}

h3, .h3 {
	font-size: 18px;

	@include media($max: $breakpoint-medium) {
	  font-size: 16px;
	}
}

h4, .h4 {
	font-size: 16px;

	@include media($max: $breakpoint-medium) {
	  font-size: 14px;
	}
}

h5, .h5 {
	font-size: 14px;

	@include media($max: $breakpoint-medium) {
	  font-size: 12px;
	}
}

.title {
	margin-bottom: 30px;

	&--has-line {
		position: relative;
		margin-bottom: 48px;

		&:after {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 0;
			width: 30px;
			height: 1px;
			background-color: $accent;
		}

		+ .content {
			margin-top: -8px;
		}
	}

	&--centered {
		text-align: center;

		&.title--has-line {
			&:after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	h2 + h3 {
		color: $light-grey;
		margin-top: 10px;
	}
}

p {
	margin: 0;

	&:not(:first-of-type) {
		margin-top: 15px;
	}
}

a {
	font-family: inherit;
	text-decoration: none;
	outline: none;
	transition: 300ms opacity;

	@include hover {
		opacity: 0.75;
	}
}

a, button {
	color: $grey;
}

.link, p a {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $accent;
	}
}

button, .button, [role="button"], input[type="button"], input[type="submit"], [tabindex] {
	display: inline-block;
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
	transition: 300ms all;
}

ol, ul {
	padding: 0;
	margin: 0;
}

strong {
	font-weight: 500;
}
