h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: $display;
	font-weight: normal;
	text-transform: uppercase;
	line-height: normal;
	margin: 0;
}

h1, .h1 {
	font-family: $cursive;
	font-size: 125px;
	text-transform: none;
	line-height: normal;
	text-align: center;

	@include media($max: $breakpoint-xlarge) {
		font-size: 100px;
	}

	@include media($max: $breakpoint-medium) {
		font-size: 75px;
	}
}

h2, .h2 {
	font-size: 25px;

	@include media($max: $breakpoint-medium) {
	  font-size: 23px;
	}
}

h3, .h3 {
	font-size: 20px;

	@include media($max: $breakpoint-medium) {
	  font-size: 18px;
	}
}

h4, .h4 {
	font-size: 16px;

	@include media($max: $breakpoint-medium) {
	  font-size: 14px;
	}
}

h5, .h5 {
	font-size: 12px;
}

.title {
	margin-bottom: 20px;

	&--has-line {
		position: relative;
		margin-bottom: 40px;

		&:after {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 0;
			width: 30px;
			height: 1px;
			background-color: $accent;
		}
	}

	&--centered {
		text-align: center;
		margin-bottom: 30px;

		@include media($max: $breakpoint-medium) {
			margin-bottom: 20px;
		}

		&.title--has-line:after {
			left: 50%;
			transform: translateY(-50%);
		}
	}

	h2 {
		color: $grey;

		+ h3 {
			margin-top: 10px;
		}
	}
}

p {
	margin: 0;

	&:not(:first-of-type) {
		margin-top: 15px;
	}
}

.link, p a:not(.button) {
	color: $accent;
	font-weight: bold;
	text-decoration: underline;
}

a {
	font-family: inherit;
	text-decoration: none;
	outline: none;
	transition: 300ms opacity;

	@include hover() {
		opacity: 0.75;
	}
}

button, .button, [role="button"], input[type="button"], input[type="submit"], [tabindex] {
	display: inline-block;
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
	transition: 300ms all;
}

a, button {
	color: $grey;
}

ol, ul {
	padding: 0;
	margin: 0;
}

strong {
	font-weight: normal;
}
